<div class="row">
  <div class="col-md-10">
    <h1><%= board_presenter.board["name"] %></h1>

    <% displayed_lists = board_presenter.lists.reject {|_, list| list["hidden"] }.values %>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <% displayed_lists.each do |list| %>
            <th><%= list["name"] %></th>
        <% end %>
      </tr>
      <tr class="active">
        <th scope="row">Average</th>
        <% displayed_lists.each do |list| %>
            <td><%= board_presenter.averages[list["id"]] %></td>
        <% end %>
      </tr>
      <% board_presenter.card_durations.each do |card_name, durations| %>
          <tr>
            <th scope="row"><%= card_name %></th>
            <% displayed_lists.each do |list| %>
                <td><%= durations[list["id"]] %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-2">
    <h2>Options</h2>
    <h3>Ignored Lists</h3>
    <form action="<%= board_presenter.board["id"] %>/options" method="post">
      <% board_presenter.lists.each do |list_id, list| %>
      <input type="checkbox" id="<%= list_id %>" name="<%= list_id %>" value="true" <%== "checked=\"checked\" " if list["hidden"] %>/>
      <label for="<%= list_id %>"><%= list["name"] %></label>
      <br />
      <% end %>
      <button type="submit">Update</button>
    </form>
  </div>
</div>
