<ul>
  <% boards.each do |board| %>
    <li>
      <a href="boards/<%= board[:id] %>"><%= board[:name] %></a> (<a href="#" id="<%= board[:webhook_id] || board[:id] %>" class="<%= (board[:webhook_id]) ? "stop" : "start" %>"><%= (board[:webhook_id]) ? "Stop" : "Start" %></a>)
    </li>
  <% end %>
</ul>

<script src="js/boards.js"></script>
<script>
  new Alki.boards($(document)).init();
</script>