<h1><%= board_presenter.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <% board_presenter.lists.each do |list| %>
        <th><%= board_presenter.column_names[list["id"]] %></th>
    <% end %>
  </tr>
  <tr>
    <td>Average</td>
    <% board_presenter.lists.each do |list| %>
        <td><%= board_presenter.averages[list["id"]] %></td>
    <% end %>
  </tr>
  <% board_presenter.card_durations.each do |card_id, durations| %>
      <tr>
        <td><%= card_id %></td>
        <% board_presenter.lists.each do |list| %>
            <td><%= durations[list["id"]] %></td>
        <% end %>
      </tr>
  <% end %>
</table>
