<div class="row">
  <div class="col-md-10">
    <h1><%= board_presenter.board["name"] %></h1>

    <% displayed_lists = board_presenter.lists.reject { |list| list["hidden"] } %>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <% displayed_lists.each do |list| %>
            <th><%= list["name"] %></th>
        <% end %>
      </tr>
      <tr class="active">
        <th scope="row">Average</th>
        <% displayed_lists.each do |list| %>
            <td><%= board_presenter.average(list["id"]) %></td>
        <% end %>
      </tr>
      <% board_presenter.cards.reject { |card| card["id"] == "average" }.each do |card| %>
          <tr>
            <th scope="row"><%= card["name"] %></th>
            <% displayed_lists.each do |list| %>
                <td><%= board_presenter.wait_time(card["id"], list["id"]) %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-2">
    <h2>Options</h2>
    <h3>Ignored Lists</h3>
    <form action="<%= board_presenter.board["id"] %>/options" method="post">
      <% board_presenter.lists.each do |list| %>
      <input type="checkbox" id="<%= list["id"] %>" name="<%= list["id"] %>" value="true" <%== "checked=\"checked\" " if list["hidden"] %>/>
      <label for="<%= list["id"] %>"><%= list["name"] %></label>
      <br />
      <% end %>
      <button type="submit">Update</button>
    </form>
  </div>
</div>
